/**footer**/
#footer {
  margin-top: 40px;
  padding-top: 56px;
  width: 100%;
  height: 230px;
  background: #d4d4d4;
  text-align: center;
}
#footer p {
  line-height: 24px;
}
#footer p a {
  color: #111;
}
#footer .brand {
  margin-top: 35px;
}
#footer .brand img {
  margin-right: 21px;
}
